* {
	box-sizing: border-box;
}

/* Fontface */

@font-face {
	font-family: rubik;
	src: url('../fonts/Rubik/Rubik-Light.ttf');
}

@font-face {
	font-family: rubik-bold;
	src: url('../fonts/Rubik/Rubik-SemiBold.ttf');
}

@font-face {
	font-family: dosis;
	src: url('../fonts/Dosis/Dosis-SemiBold.ttf');
}

/* Basic */

html {
	font-family: rubik, serif;
}

body {
	font-size: 1.05rem;
	margin: 0;
	overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	display: unset;
	margin: 0;
}

p {
	margin: 0 0 1.25rem;
}

img {
	width: 100%;
}

a {
	text-decoration: none;
}

button {
	display: unset;
}

/* Layout */

.container {
	max-width: 1200px;
	margin: 0 auto;
}

/* Helpers */

/* flex helpers */

.flex {
	display: flex;
}

.flex.space-between {
	justify-content: space-between;
}

.flex.align-center {
	align-items: center;
}

/* list-helpers */

.clean-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

/* Components */

/* Header  */

header.main-header {
	background-color: #f4f4f4;
	color: rgb(0, 0, 0);
	margin-bottom: 1rem;
}

.main-header {
	position: sticky;
	width: 100vw;
	top: 0;
	box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.15);
	z-index: 6;
	height: 3rem;
	font-size: 0.9rem;
}

.head-container {
	height: 100%;
}

.container .logo {
	margin-top: 7px;
	width: 5.5rem;
}

.main-header a {
	height: 100%;
	color: inherit;
	font-weight: bold;
}

.main-header ul {
	padding-inline-end: 8.2rem;
}

.main-header .main-nav a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	transition: all .4s;
	cursor: pointer;
}

.main-header .main-nav li:hover {
	color: rgb(111, 111, 111);
}

.main-header .main-nav li {
	height: 80px;
}

.main-header .main-nav a {
	padding-inline-start: 40px;
	padding-inline-end: 40px;
}

/* Main */

.main-content {
	position: fixed;
	margin: 0 auto;
	width: 100%;
	max-height: 55rem;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(9, 1fr);
	/* z-index: -5; */
}

main .main-image {
	margin: 0 auto;
	/* min-height: 60rem; */
	width: unset;
	object-fit: contain;
	grid-column: 1 / span 4;
	grid-row: 2 / span 6;
	opacity: 85%;
	z-index: -1;
}

h1.headline {
	text-align: center;
}

main .headline {
	text-shadow: 3px 3px 2px #dcdcdc;
	text-align: center;
	color: #292929;
	/* margin-left: 2rem; */
	font-size: 3.8rem;
	text-align: start;
	font-family: dosis, sans serif;
	grid-column: 4 / span 3;
	grid-row: 2 / span 1;
	padding: 0;
	border-bottom: 1px solid rgba(182, 182, 182, 0.481);
	z-index: 2;
	margin-bottom: 1rem;
	/* margin-bottom: 0; */
}

main p {
	text-shadow: 2px 2px 2px #dddddd;
	z-index: 2;
	/* margin-left: 3rem; */
	/* margin-top: 1rem; */
	line-height: 1.5rem;
	letter-spacing: 0.1rem;
	grid-column: 4 / span 2;
	grid-row: 3 / span 2;
	padding-inline-start: 5px;
}

main .start-button {
	margin-left: 0.3rem;
	padding: 7px;
	letter-spacing: 1px;
	font-family: rubik;
	padding-top: 2px;
	text-align: center;
	font-weight: bolder;
	border: 2px solid rgb(46, 46, 46);
	text-transform: uppercase;
	border-radius: 5px;
	cursor: pointer;
	background-color: rgba(50, 50, 50, 0.577);
	/* height: 2.3rem; */
	color: #fff;
	box-shadow: inset 1px 2px 0 0 rgb(213, 213, 213);
	box-shadow: 2px 3px 6px 0 rgba(42, 176, 206, 0.214), inset 1px 2px 0 0 rgb(213, 213, 213);
	/* margin-inline-start: 1.7rem; */
	/* margin-block-start: 1rem; */
	grid-column: 4 / span 1;
	grid-row: 4;
	height: 1.8rem;
	z-index: 2;
	outline: none;
	transition: all .6s;
}

.start-button:hover {
	background-color: rgb(172, 153, 7);
	box-shadow: 8px 6px 7px 0 rgba(62, 62, 56, 0.214), inset 1px 2px 0 0 rgb(213, 213, 213);
}

/* Footer */

footer {
	background-color: #f4f4f4;
	position: fixed;
	bottom: 0;
	right: 0;
	width: 100vw;
	box-shadow: inset 0 1px 0 #e1e0e0;
	padding-block-start: 0.5rem;
	padding-block-end: 1rem;
	width: 100%;
	height: 3.3rem;
	font-size: 14px;
}

.footer-container {
	flex-wrap: wrap;
	flex-direction: column;
}

footer .container .logo {
	width: 3rem;
}