.main-content {
    position: fixed;
    margin: 0 auto;
    width: 100%;
    max-height: 55rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(9, 1fr);
}

main .meme-image {
    margin: 0 auto;
    width: unset;
    object-fit: contain;
    grid-column: 2 / span 6;
    grid-row: 1 / span 6;
    z-index: -1;
}

main .meme-headline {
    color: #292929;
    font-size: 7rem;
    font-family: dosis, sans serif;
    grid-column: 8 / span 2;
    grid-row: 2 / span 1;
    padding: 0;
    z-index: 2;
    margin-bottom: 1rem;
}

main .sub-headline {
    color: #292929;
    font-size: 3rem;
    text-align: start;
    font-family: dosis, sans serif;
    grid-column: 8 / span 4;
    grid-row: 3 / span 1;
    z-index: 2;
    margin-bottom: 1rem;
}

main p {
    z-index: 2;
    color: black;
    line-height: 1.5rem;
    letter-spacing: 0.1rem;
    grid-column: 8 / span 3;
    grid-row: 4 / span 1;
    padding-inline-start: 5px;
}

main .start-button {
    margin-left: 0.3rem;
    padding: 7px;
    letter-spacing: 1px;
    font-family: rubik;
    padding-top: 2px;
    text-align: center;
    font-weight: bolder;
    border: 2px solid rgb(46, 46, 46);
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    grid-column: 8 / span 2;
    grid-row: 5;
    height: 1.8rem;
    z-index: 2;
    outline: none;
    transition: all .6s;
}

.start-button:hover {
    background-color: rgb(172, 153, 7);
}

@media (max-width: 1650px) {
    main p {
        margin-left: 0;
        grid-column: 8 / span 4;
        margin-top: 0;
    }
    main .meme-image {
        opacity: 30%;
    }
}

@media (max-width: 1030px) {
    main .meme-headline {
        grid-column: 4 / span 5;
    }
    main .sub-headline {
        grid-column: 4 / span 5;
    }
    main p {
        font-size: 1.2rem;
        grid-column: 4 / span 5;
    }
    main .start-button {
        grid-column: 4 / span 5;
    }
}

@media (max-width: 690px) {
    main .meme-headline {
        grid-column: 2 / span 6;
    }
    main .sub-headline {
        grid-column: 2 / span 6;
    }
    main p {
        grid-column: 2 / span 6;
    }
    main .start-button {
        grid-column: 2 / span 6;
    }
}